<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hualand.fun_home" >
    <application>
        <activity android:name="cn.hualand.fun_home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name="cn.hualand.fun_home.activity.MainActivity2"/>
    </application>
</manifest>
