<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jph.takephoto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application android:allowBackup="true">
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <provider
            android:name="com.tencent.bugly.beta.utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"
                tools:replace="name,resource" />
        </provider>
    </application>
</manifest>
